<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4b4eb6df-068a-4007-88f3-a84580dba647/resourceGroups/MartianRobotsRG/providers/Microsoft.Web/sites/MartianRobots</ResourceId>
    <ResourceGroup>MartianRobotsRG</ResourceGroup>
    <ApiResourceId>/subscriptions/4b4eb6df-068a-4007-88f3-a84580dba647/resourceGroups/MartianRobotsRG/providers/Microsoft.ApiManagement/service/MartianRobotsAPI/apis/martianrobots</ApiResourceId>
    <OpenApiDocumentName>MartianRobots</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://martianrobots.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>64d0d211-021c-4cbc-b9e4-7f0be12c2076</ProjectGuid>
    <MSDeployServiceURL>martianrobots.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MartianRobots</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MartianRobots</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>